body{
    background-image: url("https://t3.ftcdn.net/jpg/03/04/85/26/360_F_304852693_nSOn9KvUgafgvZ6wM0CNaULYUa7xXBkA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}